<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment/min/moment.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="w-full z-40 h-full bg-gray-800 bg-opacity-90 top-0 overflow-y-auto fixed sticky-0" id="chec-div">
        <div class="w-full absolute z-10 right-0 h-full overflow-x-hidden transform translate-x-0 transition ease-in-out duration-700"
            id="notification">
            <div class="w-full bg-gray-50 h-screen overflow-y-auto p-8 absolute right-0">
                <div class="flex items-center justify-between">
                    <p tabindex="0" class="focus:outline-none text-2xl font-semibold leading-6 text-gray-800">
                        Notifications
                    </p>
                </div>

                <!-- TODAY NOTIFICATIONS -->
                <% if (today.length> 0) { %>
                    <h2 class="text-lg font-semibold text-gray-700 mb-2 mt-10">Today</h2>
                    <% today.forEach(notif=> { %>
                        <div class="w-full p-4 bg-gray-50 rounded-lg flex items-center shadow-sm mb-3">
                            <!-- ICON -->
                            <div class="w-10 h-10 border rounded-full flex items-center justify-center bg-white">
                                <% if (notif.type==="like" ) { %>

                                    <img class="rounded-full w-full h-full object-cover"
                                        src="<%=notif.fromUser.image.url%>" alt="" />

                                    <% } else if (notif.type==="follow" ) { %>
                                        <img class="rounded-full w-full h-full object-cover"
                                            src="<%=notif.fromUser.image.url%>" alt="" />
                                        <% } %>
                            </div>
                            <!-- MESSAGE -->
                            <div class="ml-4 flex-1">
                                <% if (notif.type==="like" ) { %>
                                    <p class="text-gray-800">
                                        <a href="/profile/<%=notif.fromUser._id %>" class="text-blue-600">

                                            <span class="font-semibold text-indigo-700">
                                                <%= notif.fromUser.username %>
                                            </span>
                                        </a>
                                        liked your <a class="text-blue-600"
                                            href="/stories/<%=notif.storyId%>">story.</a>
                                    </p>

                                    <% } else if (notif.type==="follow" ) { %>
                                        <a href="/profile/<%= notif.fromUser._id %>" class="text-blue-600">
                                            <p class="text-gray-800">
                                                <span class="font-semibold text-indigo-700">
                                                    <%= notif.fromUser.username %>
                                                </span>
                                                started following you.
                                            </p>
                                        </a>
                                        <% }else if ((notif.type==="comment" )){ %>

                                            <p class="text-gray-800">
                                                <a href="/profile/<%= notif.fromUser._id %>" class="text-blue-600">
                                                    <span class="font-semibold text-indigo-700">
                                                        <%= notif.fromUser.username %>
                                                    </span>
                                                </a>
                                                commented on your <a class="text-blue-600"
                                                    href="/stories/<%=notif.storyId%>">post.</a>

                                            </p>

                                            <%}%>
                                                <p id="like" class="text-xs text-gray-500">
                                                    <%= notif.timeStamp %>
                                                </p>
                            </div>
                            <!-- DELETE BUTTON -->
                            <form action="/notification/<%= notif._id %>?_method=DELETE" method="post">
                                <button class="text-gray-500 hover:text-gray-700">
                                    <i class="ri-close-line text-lg"></i>
                                </button>
                            </form>
                        </div>
                        <% }) %>
                            <% } %>

                                <!-- YESTERDAY NOTIFICATIONS -->
                                <% if (yesterday.length> 0) { %>
                                    <h2 class="text-lg font-semibold text-gray-700 mt-6 mb-2">
                                        Yesterday
                                    </h2>
                                    <% yesterday.forEach(notif=> { %>
                                        <div class="w-full p-4 bg-gray-50 rounded-lg flex items-center shadow-sm mb-3">
                                            <div
                                                class="w-10 h-10 border rounded-full flex items-center justify-center bg-white">
                                                <% if (notif.type==="like" ) { %>
                                                    <img class="rounded-full w-full h-full object-cover"
                                                        src="<%=notif.fromUser.image.url%>" alt="" />
                                                    <% } else if (notif.type==="follow" ) { %>
                                                        <img class="rounded-full w-full h-full object-cover"
                                                            src="<%=notif.fromUser.image.url%>" alt="" />
                                                        <% } %>
                                            </div>
                                            <div class="ml-4 flex-1">
                                                <% if (notif.type==="like" ) { %>

                                                    <p class="text-gray-800">
                                                        <a href="/profile/<%= notif.fromUser._id %>"
                                                            class="text-blue-600">
                                                            <span class="font-semibold text-indigo-700">
                                                                <%= notif.fromUser.username %>
                                                            </span>
                                                        </a>
                                                        liked your <a href="/stories/<%= notif.storyId %>"
                                                            class="text-blue-600"> story. </a>


                                                    </p>
                                                    <% } else if (notif.type==="follow" ) { %>
                                                        <a href="/profile/<%= notif.fromUser._id %>"
                                                            class="text-blue-600">
                                                            <p class="text-gray-800">
                                                                <span class="font-semibold text-indigo-700">
                                                                    <%= notif.fromUser.username %>
                                                                </span>
                                                                started following you.
                                                            </p>
                                                        </a>
                                                        <% }else if ((notif.type==="comment" )){ %>

                                                            <p class="text-gray-800">
                                                                <a href="/profile/<%= notif.fromUser._id %>"
                                                                    class="text-blue-600">
                                                                    <span class="font-semibold text-indigo-700">
                                                                        <%= notif.fromUser.username %>
                                                                    </span>
                                                                </a>
                                                                commented on your <a class="text-blue-600"
                                                                    href="/stories/<%=notif.storyId%>">post.</a>

                                                            </p>

                                                            <%}%>
                                                                <p id="like" class="text-xs text-gray-500">
                                                                    <%= notif.timeStamp %>
                                                                </p>
                                            </div>
                                            <form action="/notification/<%= notif._id %>?_method=DELETE" method="post">
                                                <button class="text-gray-500 hover:text-gray-700">
                                                    <i class="ri-close-line text-lg"></i>
                                                </button>
                                            </form>
                                        </div>
                                        <% }) %>
                                            <% } %>

                                                <!-- LAST 7 DAYS NOTIFICATIONS -->
                                                <% if (last7Days.length> 0) { %>
                                                    <h2 class="text-lg font-semibold text-gray-700 mt-6 mb-2">
                                                        Last 7 Days
                                                    </h2>
                                                    <% last7Days.forEach(notif=> { %>
                                                        <div
                                                            class="w-full p-4 bg-gray-50 rounded-lg flex items-center shadow-sm mb-3">
                                                            <div
                                                                class="w-10 h-10 border rounded-full flex items-center justify-center bg-white">
                                                                <% if (notif.type==="like" ) { %>
                                                                    <img class="rounded-full w-full h-full object-cover"
                                                                        src="<%=notif.fromUser.image.url%>" alt="" />
                                                                    <% } else if (notif.type==="follow" ) { %>
                                                                        <img class="rounded-full w-full h-full object-cover"
                                                                            src="<%=notif.fromUser.image.url%>"
                                                                            alt="" />
                                                                        <% } else if(notif.type==="comment"){%>
                                                                            <img class="rounded-full w-full h-full object-cover"
                                                                                src="<%=notif.fromUser.image.url%>"
                                                                                alt="" />
                                                                            <% } %>
                                                            </div>
                                                            <div class="ml-4 flex-1">
                                                                <% if (notif.type==="like" ) { %>
                                                                    <p class="text-gray-800">
                                                                        <a href="/profile/<%=notif.fromUser._id %>"
                                                                            class="text-blue-600">

                                                                            <span class="font-semibold text-indigo-700">
                                                                                <%= notif.fromUser.username %>
                                                                            </span>
                                                                        </a>
                                                                        liked your <a class="text-blue-600"
                                                                            href="/stories/<%=notif.storyId%>">story.</a>
                                                                    </p>

                                                                    <% } else if (notif.type==="follow" ) { %>
                                                                        <a href="/profile/<%= notif.fromUser._id %>"
                                                                            class="text-blue-600">
                                                                            <p class="text-gray-800">
                                                                                <span
                                                                                    class="font-semibold text-indigo-700">
                                                                                    <%= notif.fromUser.username %>
                                                                                </span>
                                                                                started following you.
                                                                            </p>
                                                                        </a>
                                                                        <% }else if ((notif.type==="comment" )){ %>

                                                                            <p class="text-gray-800">
                                                                                <a href="/profile/<%= notif.fromUser._id %>"
                                                                                    class="text-blue-600">
                                                                                    <span
                                                                                        class="font-semibold text-indigo-700">
                                                                                        <%= notif.fromUser.username %>
                                                                                    </span>
                                                                                </a>
                                                                                commented on your <a
                                                                                    class="text-blue-600"
                                                                                    href="/stories/<%=notif.storyId%>">post.</a>

                                                                            </p>

                                                                            <%}%>
                                                                                <p id="like"
                                                                                    class="text-xs text-gray-500">
                                                                                    <%= notif.timeStamp %>
                                                                                </p>
                                                            </div>
                                                            <form action="/notification/<%= notif._id %>?_method=DELETE"
                                                                method="post">
                                                                <button class="text-gray-500 hover:text-gray-700">
                                                                    <i class="ri-close-line text-lg"></i>
                                                                </button>
                                                            </form>
                                                        </div>
                                                        <% }) %>
                                                            <% } %>

                                                                <!-- NO NOTIFICATIONS -->
                                                                <% if (today.length===0 && yesterday.length===0 &&
                                                                    last7Days.length===0) { %>
                                                                    <p class="text-center text-gray-600 mt-52">
                                                                        No notifications to show.
                                                                    </p>
                                                                    <% } %>
                </div>
         </div>
    </div>

    <script>
        let notification = document.getElementById("notification");
        let checdiv = document.getElementById("chec-div");
        let flag3 = false;
        const notificationHandler = () => {
            if (!flag3) {
                notification.classList.add("translate-x-full");
                notification.classList.remove("translate-x-0");
                setTimeout(function () {
                    checdiv.classList.add("hidden");
                }, 100);
                flag3 = true;
            } else {
                setTimeout(function () {
                    notification.classList.remove("translate-x-full");
                    notification.classList.add("translate-x-0");
                }, 100);
                checdiv.classList.remove("hidden");
                flag3 = false;
            }
        };
    </script>
    <script>
        document.querySelectorAll("#like").forEach((el) => {
            const rawDate = new Date(
                el.innerText.replace("Last edited: ", "").trim()
            );
            el.innerText = moment(rawDate).fromNow();
        });
        document.querySelectorAll("#follow").forEach((el) => {
            const rawDate = new Date(
                el.innerText.replace("Last edited: ", "").trim()
            );
            el.innerText = moment(rawDate).fromNow();
        });
    </script>
    
</body>

</html>